<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/salvescoding" target="_blank"><%= fa_icon 'github-alt' %></li></a>
      <li><a href="https://www.linkedin.com/in/sergio-alves-415a8679/" target="_blank"> <%= fa_icon 'linkedin' %></li></a>
      <li><a href="https://www.instagram.com/sergioalves23/?hl=es" target="_blank"> <%= fa_icon 'instagram' %></li></a>
    </ol>
  </div>
</div>
</div>
