<div class="blog-header">
  <div class="container">
    <h3 class="blog-title">Sergio Alves Blog</h3>
    <p class="lead blog-description">A Blog to share knowledge and experiences</p>
    <%= link_to 'Write a new Blog', new_blog_path, class: 'btn btn-outline-success btn-sm' if logged_in?(:site_admin) %>
  </div>
</div>
