<footer class="text-muted">
  <div class="container">
    <div class="float-right">

        <%= link_to 'View all portfolio items',  works_path, class: "btn btn-sm btn-outline-secondary" %>

        <a href="#" class="btn btn-sm btn-outline-secondary">Back to top</a>

    </div>
    <p class="copyright-work"><%= copyright_generator %></p>
  </div>
</footer>
