<h1>About me</h1>
<div class="row">
  <div class="col-md-4">
    <%= image_tag 'profile_sergio.jpg', width: '300', alt: 'Profile image Sergio Alves' %>
  </div>
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fugiat minima reprehenderit amet, dolor nemo fugit distinctio nisi exercitationem quisquam maxime, quibusdam pariatur illo delectus ipsam. Consectetur explicabo, alias incidunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aspernatur corporis, earum reprehenderit, tempora iure mollitia placeat, cumque quam doloribus deserunt alias aliquam, adipisci rerum dicta ea illum vero consequatur!</p>

  </div>
</div>
