<div class="card text-center about-me">
  <div class="card-header">
    <h5 class="card-title">Would you like to work together?</h5>
  </div>
  <div class="card-body">
    <a href="mailto:salves2383@gmail.com?subject=PortfolioContact" "email me"><p class="btn btn-primary">Email me</p></a>
    <div class="social-about">
      <a href="https://github.com/salvescoding" target="_blank"><%= fa_icon 'github-alt' %></a>
      <a href="https://www.linkedin.com/in/sergio-alves-415a8679/" target="_blank"> <%= fa_icon 'linkedin' %></a>

    </div>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
