<div class="app-card-container">
  <div class="card w-75">
    <h3>Would you like to work together?</h3>

    <hr>
    <div class="contact-card">
        <div class="social-contact">
        <a href="https://github.com/salvescoding" target="_blank"><%= fa_icon 'github-alt' %></a>
        <a href="https://www.linkedin.com/in/sergio-alves-415a8679/" target="_blank"> <%= fa_icon 'linkedin' %></a>

        </div>

        <a href="mailto:salves2383@gmail.com?subject=PortfolioContact" "email me"><p class="btn btn-outline-primary">Email me</p></a>
    </div>


  </div>
</div>

