<h1>Hi <%= current_user.first_name %> </h1>



<h1>Blog posts</h1>
<ul>
  <% @posts.each do |post| %>
    <%= post.title %>
  <% end %>
</ul>

<h1>Portfolio works</h1>
<ul>
  <% @works.each do |work| %>
    <%= work.title %>
  <% end %>
</ul>

<hr>

