<div class="inner cover">
  <p class="lead">
    <%= link_to 'About Me', about_me_path, class: "btn btn-light" %>
  </p>
  <p class="lead">In a world of continuous learning, the is no room for boredness.</p>
</div>



