<div class="container home-wrapper">
  <main role="main" class="inner cover">
      <div class="center">
        <h5 class="cover-heading">
          <span class="element"></span>
        </h5>
      </div>
    </main>
</div>

