<div class="container home-wrapper">
  <main role="main" class="inner cover">
      <div class="center">
        <h4 class="cover-heading">
          <span class="element"></span>
        </h4>

      </div>
    </main>
</div>

